{{$.extend("base");}}
<script>
$(document).ready(function() {
	$.getJSON("{{=$.route("events.list")}}",function(events) {
		var future = "", past = "",
		now = new Date;
		events.data.forEach(function(ev) {
			var start = new Date(ev.start_time);
			if(start > now)
				future += "<li><a href='/events/"+ev.id+"'>"+ev.name+"</a></li>";
			else
				past += "<li><a href='/events/"+ev.id+"'>"+ev.name+"</a></li>";
		});
		$('<ul/>', {
			html: future
		}).appendTo('#future');
		$('<ul/>', {
			html: past
		}).appendTo('#past');
		$('.load').hide();
	});
});
</script>
<article id="future">
<h1>Events<img src="/img/load.gif" class="load"/></h1>

</article>
<aside id="past">
<h1>Stuff we've done in the past</h1>
{{=$.include("events/list",{test:"lololol"})}}
</aside>