{{$.extend("base");}}
{{$.set("title","Home");}}
<article>
<header>
<h1>Love taking photos? So do we.</h1>
</header>
We provide training, equipment and darkroom facilities to cater for any skill level. We also host exhibitions and competitions, and photograph the University’s events throughout the year.

<header>
<h1>No camera? No problem.</h1>
</header>
We have six digital SLR cameras, as well as lenses and flashes for both Nikon and Canon. All this and more is free to borrow when you're a member of the society, which, by the way, is just £3 a year.
<header><h1>Where do I sign up?</h1></header>
You can join the society via our <a href="http://www.warwicksu.com/societies/photographic/">Warwick Students' Union web page</a>. Just log in and click the "Add to Basket" button on the right.
</article>
<aside>
<h1>On <a href="http://fb.me/warwickphotosoc">Facebook</a></h1>
</aside>
<aside>
<h1>Recent posts</h1>
</aside>