{{$.extend("base");}}
{{$.set("title","File not found");}}
{{$.set("banner","/img/obiwan.jpg");}}
<h1>This is not the page you are looking for.</h1>
Either you followed a bad link, made a typo, or I sense a great distubance in the Force. In any case, &ldquo;{{=path}}&rdquo; doesn’t exist.