{{$.extend("base");}}
{{$.set("title","Internal server error");}}
{{$.set("banner","/img/trash.jpg");}}
<h1>I have a bad feeling about this.</h1>
Hokey religions and ancient weapons are no match for internal server errors.