<!doctype html>
<html>
<head>
	<meta charset="UTF8">
	<title>Struct Error: </title>
</head>
<body>
{{=this}}
{{/*
<h1>{{=type}}</h1>
<h2>{{=message}} in {{=fileName}} at line {{=lineNumber}}</h2>
<pre>{{=stack}}</pre>
*/}}
</body>
</html>